.footer {
  background-color: var(--dark-color);
  padding: 45px 40px 20px;
  font-size: 15px;
  line-height: 24px;
  color: var(--dark-color);
}

.footer hr {
  border-top-color: var(--text-color);
  opacity: 0.5;
}

.footer hr.small {
  margin: 20px 0;
}

.footer h6 {
  color: var(--text-color);
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.footer a {
  color: var(--footer-text-color);
}

.footer a:hover {
  color: var(--text-color);
  text-decoration: none;
}

.footer .social-icons {
  text-align: right;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.footer .social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.footer .social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 700;
  font-size: 13px;
}

.footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: var(--socials-background);
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer .social-icons a:active, .footer .social-icons a:focus, .footer .social-icons a:hover {
  color: var(--text-color);
  background-color: #29aafe;
}

.footer .social-icons a.facebook:hover {
  background-color: #3b5998;
}

.footer .social-icons a.twitter:hover {
  background-color: #00aced;
}

.footer .social-icons a.instagram:hover {
  background-image: url(/imgs/instagram-background.jpg);
  background-size: 40px;
}

.footer .social-icons a.github:hover {
  background-color: #333;
}

.footer .social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.footer .social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

.footer .social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .container.bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer .container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer .container .links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 20px;
}

.footer .container .links-wrapper .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 40px;
}

.footer .container .copyright-text-container,
.footer .container .social-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 10px;
}

.footer .copyright-text {
  margin: 0;
}

@media screen and (max-width: 900px) {
  .footer .copyright-text,
  .footer .social-icons {
    text-align: center;
  }
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: var(--footer-text-color);
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: var(--text-color);
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}
/*# sourceMappingURL=footer.css.map */