<footer class="footer">
  <div class="container">
    <div class="text-container">
      <h6>About</h6>
      <p class="text-justify">
        deflame.xyz is collection and one of my personal projects, hosted for
        fun and to learn more about web developement
      </p>
    </div>
    <div class="links-wrapper">
      <div class="links-container">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="/projects?c=exploits">Exploits</a></li>
          <li><a href="/projects?c=fun">Fun</a></li>
          <li><a href="/projects?c=random">Random</a></li>
        </ul>
      </div>
      <div class="links-container">
        <h6>Links</h6>
        <ul class="footer-links">
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contacts</a></li>
          <li><a href="/crypto">Hashes & Keys</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br />
  <hr />
  <div class="container bottom">
    <div class="copyright-text-container">
      <p class="copyright-text">
        Copyright &copy; 2021 All Rights Reserved by Flame.
      </p>
    </div>
    <div class="social-icons-container">
      <ul class="social-icons">
        <!-- TODO: Add links -->
        <li>
          <a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a class="github" href="#"><i class="fab fa-github"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
