<link rel="stylesheet" href="/css/slideshow.css" />
<div class="slideshow-container">
  <div class="slideshow">
    <img
      src="/imgs/left-arrow.svg"
      class="slideshow-arrow"
      id="slideshow-arrow-left"
    />
    <a href="">
      <div class="slideshow-image-container">
        <img
          src="https://loremflickr.com/1600/900"
          class="slideshow-image-other"
        />
        <img
          src="https://loremflickr.com/1600/900"
          class="slideshow-image-main"
        />
      </div>
    </a>
    <img
      src="/imgs/right-arrow.svg"
      class="slideshow-arrow"
      id="slideshow-arrow-right"
    />
  </div>
</div>
<script src="/js/slideshow.js"></script>
