<nav class="topbar">
  <div class="topbar-container">
    <a href="/">
      <img src="/imgs/logo_trans.png" id="topbar-logo" />
    </a>
    <div class="topbar-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="topbar-menu">
      <li class="topbar-item">
        <a href="/" class="topbar-link">Home</a>
      </li>
      <li class="topbar-item">
        <a href="/projects" class="topbar-link">Projects</a>
      </li>
      <li class="topbar-item">
        <a href="/about" class="topbar-link">About</a>
      </li>
      <li class="topbar-item">
        <a href="/links" class="topbar-link">More</a>
      </li>
      <li class="topbar-button-container">
        <a href="/login" class="topbar-button">Login</a>
      </li>
    </ul>
  </div>
</nav>
<script src="/js/topbar.js"></script>
